<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
  <add name="conexionSQL" connectionString="Data Source=DESKTOP-NQSS6M5\SQLEXPRESS;Initial Catalog=repuestos;Integrated Security=True"/>

  <add name="conexionSQLMarvin" connectionString="Data Source=DESKTOP-LBJM0PF;Initial Catalog=repuestos;Integrated Security=True"/>
</connectionStrings>
</configuration>